html, body {
  background-color: #cccdce;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0; 
}

.header {
  background-color: #fff;
  height: 140px;
  text-align: center;
}

.header h1 {
  color: #31363d;
  font-size: 40px;
  margin: 0;
  text-transform: uppercase;
  padding-top: 50px;
}

.nav ul {
  text-align: center;
  padding-top: 20px;

}

.nav li {
  -webkit-transition:color 0.25s;
  -moz-transition:color 0.25s;
  -o-transition:color 0.25s;
  transition:color 0.25s;
  text-decoration:none;
  display:inline;
  text-transform: uppercase;
}

.nav li a{
  color: white;
  padding-right:20px;
}

.nav li a:hover {
  text-decoration:none;
  color: #31363d;
  cursor: pointer; 
  -webkit-transition: color 1s;
  -moz-transition: color 1s;
  -o-transition: color 1s;
  transition: color 1s;
}
.footer {
    text-align:right;
    font-size: 10px;
    text-transform: uppercase;
    padding: 20px;
}
.row {
  margin-top: 30px;
}